<form method="post" action="{{ path('pricelist_entry_delete', {'id': pricelist_entry.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pricelist_entry.id) }}">
    <button class="btn">Delete</button>
</form>
