{% extends 'base.html.twig' %}

{% block title %}Edit PricelistEntry{% endblock %}

{% block body %}
    <h1>Edit PricelistEntry</h1>

    {{ include('pricelist_entry/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('pricelist_entry_index') }}">back to list</a>

    {{ include('pricelist_entry/_delete_form.html.twig') }}
{% endblock %}
